.logo-footer {
    width: 200px;
    margin-left: 400px;
    margin-top: 40px;
}
.logo-and-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-greater-than {
    color: #3589ff;
}