.result-suggestion {
    position: absolute;
    top: 50px;
    left: 180px;
    z-index: 0;
    width: 40%;
    height: auto;
    background-color: #fff;
    padding: 0;
    margin-left: -30px;
}
.result-suggestion li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}
.result-suggestion .sug {
    width: 95%;
    color: #3589ff;
}
.result-suggestion .rem, .clock {
    width: 10%;
    color: #848484;
}
