@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.result-page-footer {
    margin-top: 70px;
    background-color: #e8e8e8;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}
.nigeria {
    height: 50%;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #848484;
}
.ads a {
    color: #848484;
}
.nigeria strong {
    margin-left: 40px;
}
.result-page-footer .ads {
    height: 50%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    margin-top: 0px;
}
